@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

.title {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #500000;
    font-size: 64px;
    font-weight: bold;
    text-align:center;

}

.line {
    width:300px;
}


.text {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    position: relative; bottom: 60px;
    text-align:center;
  

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    align-items: center;
    position: absolute; left: 350px; top: 30px;
}

button1 {
    background-color: #500000;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 8px 8px 8px 8px;
    font-weight: bold;
    font-size: 15px;
    position: absolute; top: 130px; left: 590px;
}

button2 {
    padding: 10px 10px 10px 10px;
    color: black;
    font-family: 'Dosis', sans-serif;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    font-weight: bold;
    font-size: 18px;
    position: absolute; left: -150px; top:10px;
}

button3 {
    background-color: #500000;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 8px 8px 8px 8px;
    font-weight: bold;
    font-size: 15px;
    position: absolute; left: 140px; top:130px;
}

.column {
    float: left;
    width: 400px;
    padding: 90px;
    height: 200px;

    
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#heading2 {
    margin-top: -30;
}